# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual environments
.env/
.venv/
venv/
ENV/
env.bak/
*venv*/

# Conda environments
# (this ignores any Conda environment folders named `.conda_env`,
#  but keeps your environment.yml file to recreate the environment.)
.conda_env/

# Spyder project settings
.spyderproject
.spyproject

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyCharm files
.idea/

# Visual Studio Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# VS Code extensions
*.code-workspace

# Log files
*.log

data/
runs/
checkpoints/
old-runs/
old-runs2/